@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#output {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: bolder;
	color: #ffffff;
}

#barcode-dana {
	border: #ffffff 8px solid;
	border-radius: 5px;
}
